# Directories to ignore
music/
NA/

# Python cache and build files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
